.top-banner{
  height: 20vh;
}
.title-wrapper {
    margin: 0 0;
    display:inline-block;
    vertical-align:bottom;
    padding-top: 15vh;
    padding-left: 2vh;
    line-height:5vh; /* can adjust to look nice */
}
.top-banner h2{
  margin: 0;
  color:white;
}

.all-albums{
  width: 100vw;
  height: 100px;
  position: absolute;
  overflow-y: hidden;
  overflow-x: visible;
  white-space: nowrap;
}
.playlist-mid{
  position: absolute;
  top: 20vh;
  left: 0%;
  height: 75vh;
}

.album{
  position: relative;
  display: inline-block;
  margin: 0px 20px;
  height: 90px;
  width: 90px;
  top: 5px;
  background-color: black;
  white-space: nowrap;
}

.albums-picked{
  position: relative;
  width: 80%;
  height: 35%;
  top: 25%;
  width: 80vw;
  border: 3px solid black;
  left: 10%;
}
.button-holder{
  position: absolute;
  left: 10%;
  top: 65%;
}
.album-button{
  position: relative;
  top: 65%;
  left: 0%;
  display: inline-block;
  margin: 0 0px;
}
