body{
  background-color: red;
}

.Title{
  font-size: 32pt;
  text-align: center;
}
form{
  position: absolute;
  text-align: center;
  width: 33%;
  left: 33%;
}

label{
  font-size: 22pt;
}
select{
  font-size: 48pt;
}
.Item-Form{
  font-size: 22pt;
  margin-bottom: 32px;
}
.Item-Form.Breaker{
  margin-left: 15px;
}
.Items-Container{
}
.Bill-Submit{
  font-size: 22pt;
}
.Main{
  text-align: center;
}
